@import 'variables';

body, html{
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Red-Hat-Display', sans-serif;
}

p{

}

.font-red-hat-display{
  font-family: 'Red-Hat-Display', sans-serif;
}

.font-prata{
  font-family: 'Prata-Regular', sans-serif;
}

.font-muli{
  font-family: 'Muli', sans-serif;
}

a {
  &:hover {
    text-decoration: none;
  }
}

*{
 outline: none !important;
}

a, input, button{
 outline: none !important;
 box-shadow: none !important;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

img{
  max-width: 100%;
  height: auto;
}

.align--center{
  display: flex;
  align-items: center;
  justify-content: center;
}

@for $i from 1 through 20 {
  .height--#{$i*5} {
    height: #{5*$i}vh;
  }
}

@for $i from 1 through 40 {
  .padding-top--#{$i*5}px {
    padding-top: #{5*$i}px;
  }
}


/*------- Font Size Classes -------*/


.headingL {
  font-size: $headingL;
}

.headingM {
  font-size: $headingM;
}

.headingS {
  font-size: $headingS;
}

.headingXS {
  font-size: $headingXS;
}



.bodyL {
  font-size: $headingL;
}

.bodyM {
  font-size: $headingM;
}

.bodyS {
  font-size: $headingS;
}

.bodyXS {
  font-size: $headingXS;
}

.tagline {
  font-size: $taglineSize;
  text-transform: uppercase;
  letter-spacing: 1px;
}



/*------- Colour Classes -------*/


.bg--white {
  background-color: $white;
}

.bg--black {
  background-color: $black;
}
.bg-gray-light{
  background-color: $light-gray;
}
.bg-gray{
  background-color: $gray;
}
.bg-primary{
  background-color: $primary;
}
.bg-secondary{
  background-color: $secondary;
}
.bg-gray-shade1{
  background-color: $gray-shade1;
}
.bg-gray-shade2{
  background-color: $gray-shade2;
}

.color--black {
  color: $black;
  &:hover, &:focus, &:active {
    color: $black;
  }
}

.color--white {
  color: $white;

  &:hover, &:focus, &:active {
    color: $white;
  }
}

.text-gray-light{
  color: $light-gray;
}
.text-gray{
  color: $gray;
}
.text-primary{
  color: $primary;
}
.text-secondary{
  color: $secondary;
}
.text-gray-shade1{
  color: $gray-shade1;
}
.text-gray-shade2{
  color: $gray-shade2;
}
.text-black-2{
  color: $black-shade-2;
}

/*------- Miscellaneous Classes -------*/


.wide--wrap {
  max-width: 1300px;
  margin: auto;
  width: 90%;
}

.half--opacity {
  opacity: 0.5;
}

.opacity-10{
  opacity:0.10;
}

.border--radius {
  border-radius: 10px;
}

.absolute--center {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}



.default--button {
  display: inline-block;
  position: relative;
  color: $white;
  font-weight: 500;
  padding: 15px 25px;
  min-width: 130px;
  border: none;
  background: $black;
  text-align: center;
  font-size: $buttonSize;
  appearance: none;
  -webkit-appearance: none;
  @include generate-transition(all, 500ms, ease);

  &:hover {
    opacity: 0.5;
  }
}

.underline--link {
  display: inline-block;
  border-bottom: 1px solid;
}

// default css
li{
  list-style: none;
}

.object-cover{
  object-fit: cover;
  object-position: center;
}

.slick-overflow .slick-list{
  overflow: visible;
}

.slick-vertical-dots{
  ul.slick-dots {
    width: auto;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    right: 10px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(xxl){
      right: 30px;
    }
    li{
      margin: 2px 0px;
      width: auto;
      height: auto;
      position: relative;
      display: inline-block;
      padding: 0;
      cursor: pointer;
      &.slick-active{
        // height: 25px;
        button{
          opacity: 0.3;
        }
      }
      button{
        padding: 0px;
        width: 2px;
        height: 18px;
        background-color: $white;
        opacity: 1;
        transition: 0.2s all ease-in-out;
        margin: 0 auto;
      }
    }
  }
}