/* input form css */
.form-control{
    background: $white;
    line-height: 2;
    border: 1px solid transparent;
    font-size: 15px;
    padding: 10px 1.5rem;

    &::placeholder{
        color: #141414;
    }

    &:focus{
        box-shadow: none;
    }
    &.border{
        border: 1px solid;
        &.border-black{
            border-color: $primary !important;
        }
    }
}
.light-form{
    &.contact-form{
        .form-control{
            background: rgba($white, $alpha: 0.20) !important;
        }
        input::placeholder,
        textarea::placeholder{
            color: $white !important;
        }
    } 
    .select-light{
        .select2-container--open{
            .select2-selection{
                background-color: $white;
                .select2-selection__rendered{
                    color: $black;
                }
            }
        }
        .select2-selection{
            background-color: rgba($white, $alpha: 0.20);
            .select2-selection__rendered{
                color: $white;
            }
        }
    }
    .checkbox-control{
        .theme-checkbox {
            width: 24px;
            height: 24px;
            border: 0;
            &:before{
                width: 20px;
                height: 20px;
                border-radius: 6px;
            }
        }
        ~ label{
            // font-size: 10px;
            // letter-spacing: 0.9px;
            // line-height: 13px;
            @include media-breakpoint-down(md){
                // line-height: 17px;
            }
        }
    }
    .radio-control{
        ~ label{
            font-size: 10px;
            letter-spacing: 0.9px;
            line-height: 13px;
            @include media-breakpoint-down(md){
                font-size: $bodyS;
                letter-spacing: 1.35px;
                line-height: 19px;
            }
        }
    }   
}
/* END input form css */

/* input form css */
.form-control-label {
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.10px;
    margin-bottom: 5px;

    &.white-label {
        color: rgb(255 255 255 / 50%);
    }
    &.gray-label {
        color: rgb(0 0 0 / 45%);
    }
}

.input-control{
    background: $white;
    line-height: 2;
    font-size: $bodyS;
    padding: 10px 1.3rem;
    border-radius: 30px;
    letter-spacing: 0.42px;
    border: 1px solid transparent;
    transition: 0.2s all ease-in-out;
    margin-bottom: 5px;

    &:focus{
        box-shadow: none;
    }

    &.white-input-control{
        background: rgb(255 255 255 / 20%);
        
        &::placeholder{
            color: $white;
        }
        &:focus{
            border: 1px solid $white;
        }
    }
    &.gray-input-control{
        background: $gray;
        
        &::placeholder{
            color: $black;
        }
        &:focus{
            border: 1px solid $black;
        }
    }
}

/* END input form css */

.checkbox-control{
    .theme-checkbox {
        width: 17px;
        height: 17px;
        border-radius: 5px;
        border: 1px solid #707070;
        background: $white;
        position: relative;

        &::before{
            content:"";
            display: block;
            width: 11px;
            height: 11px;
            border-radius: 3px;
            background: $black;
            position: absolute;
            top: 2px;
            left: 2px;
            z-index: 1;
            opacity: 0;
            transform: scale(0);
            transition: 0.2s all ease-in-out;
        }
    }

    input{
        position: absolute;
        z-index: 9;
        width: 17px;
        height: 17px;
        cursor: pointer;
        opacity: 0;

        &:checked + .theme-checkbox:before {
            transform: scale(1);
            opacity: 1;
        }
    }
}
.radio-control{
    .theme-radio {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: $white;
        position: relative;

        &::before{
            content:"";
            display: block;
            width: 14px;
            height: 14px;
            border-radius: 100%;
            background: #F58220;
            position: absolute;
            top: 3px;
            left: 3px;
            z-index: 1;
            opacity: 0;
            transform: scale(0);
            transition: 0.2s all ease-in-out;
        }
    }

    input{
        display: none;

        &:checked + .theme-radio:before {
            transform: scale(1);
            opacity: 1;
        }
    }
}

.select2{
    .select2-selection {
        border-color: $black;
        border-radius: 5px;
        padding: 9px 26px;
        height: auto;
        .select2-selection__rendered {
            font-size: $bodyXS;
            letter-spacing: 1.8px;
            font-weight: 500;
            text-transform: uppercase;
            padding-left: 0;
        }
        .select2-selection__arrow {
            height: 100%;
            position: absolute;
            top: 1px;
            right: 17px;
            width: 20px;
        }
    }
}
.select2-dropdown{
    border-color: $black;
    z-index: 9999;
    .select2-results__options{
        border-top: 1px solid $light-gray;
    }
    .select2-results__option{
        font-size: $bodyXS;
        letter-spacing: 1.8px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 14px 15px;
        @include generate-transition(all, 500ms, ease);
        &:first-child{
            display: none;
            background-color: transparent;
        }
        &.select2-results__option--highlighted{
            background-color: $black;
        }
    }
}