.info-modal {
    .modal {
        .modal-dialog {
            margin: 0px 0px auto auto;
            height: 100vh;
            transform: translate(50px, 0px);
            max-width: 650px;
            @include media-breakpoint-down(md) {
                max-width: 100%;
            }
        }

        .modal-content {
            height: 100%;
            border: none;
            padding: 50px;
            overflow-y: auto;

            @include media-breakpoint-down(md) {
                padding:30px;
            }

            .modal-header{
                border: none;
            }
        }

        .btn-close{
            width: auto;
            height: auto;
            background: transparent;
        }

        .modal-body {
            flex-grow: 1;
            h3{
                color: $gray;
                border-bottom: 1px solid #e9e9e9;
                font-weight: 500;
            }
        }
        &.fade.show .modal-dialog {
            transform: translate(0px, 0px);
        }
    }
}

.btn-close{
    @include generate-transition(all, 500ms, ease);
    &:hover{
        transform: rotate(90deg);
    }
}

/* enquiry modal*/
.enquiry-modal{
    .modal {
        .modal-dialog {
            max-width: 562px;
            @include media-breakpoint-down(md){
                max-width: 100%;
                margin: 0;
            }
            .btn-close {
                width: 58px;
                height: 58px;
                position: absolute;
                right: 37px;
                top: 47px;
                z-index: 10;
                opacity: 1;
                @include generate-transition(all, 500ms, ease);
                @include media-breakpoint-up(md){
                    right: 0;
                    top: 0;
                    transform: translate(50%, -50%);
                }
            }
        }
        .contact-form {
            max-width: 430px;
            margin: 0 auto;
            label {
                color: $white;
                margin-bottom: 6px;
            }
            .form-control{
                padding: 10px 15px;
                font-size: $bodyXS;
                background: rgba($white, $alpha: 0.20);
                border-radius: 3px;
                @include media-breakpoint-down(md){
                    padding: 13px 15px;
                }
            }
            input::placeholder{
                color: $white;
            }
            .btn.btn-primary{
                min-width: 180px;
            }
            .checkbox-control{
                .theme-checkbox {
                    width: 24px;
                    height: 24px;
                    border: 0;
                    &:before{
                        width: 20px;
                        height: 20px;
                        border-radius: 6px;
                    }
                }
                ~ label{
                    font-size: 10px;
                    letter-spacing: 0.9px;
                    line-height: 13px;
                    @include media-breakpoint-down(md){
                        line-height: 17px;
                    }
                }
            }
            .radio-control{
                ~ label{
                    font-size: 10px;
                    letter-spacing: 0.9px;
                    line-height: 13px;
                    @include media-breakpoint-down(md){
                        font-size: $bodyS;
                        letter-spacing: 1.35px;
                        line-height: 19px;
                    }
                }
            }
            .browse-btn {
                font-weight: 500;
                cursor: pointer;
                text-align: center;
                button {
                    border: none;
                    display: inline-block;
                    padding: 10px 15px;
                    font-size: 13px;
                    text-transform: capitalize;
                    font-weight: 500;
                    border-radius: 5px;
                    cursor: pointer;
                    background: rgb(255 255 255 / 70%);
                }
                span{
                    font-size: 13px;
                    margin-left: 20px;
                }
            }
        }

        .modal-content {
            border: none;
            border-radius: 5px;
            @include media-breakpoint-down(md) {
                // padding:30px 20px;
            }
            .modal-body{
                padding: 52px 59px 36px;
                @include media-breakpoint-down(md){
                    padding: 42px 36px 58px;
                    min-height: 100vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    overflow: auto;
                }
            }
        }
        .enquiry-bg{
            height: 400px;
            bottom: -34px;
            width: 220%;
            right: -134px;
            left: auto !important;
        }
    }
}

.submit-modal{
    .modal{
        a.menu-close.d-block {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 99;
        }

        .modal-dialog{
            max-width: 900px;
            width: 90%;
            @include media-breakpoint-down(md) {
                width: 100%;
                margin: 0px 0px auto auto;
                height: 100vh;

                .modal-content{
                    height: 100%;
                }
                .modal-body{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}



.team-modal{
    .modal-dialog{
        max-width: 1000px;
        @include media-breakpoint-down(md) {
            margin: 0px;
        }

        @include media-breakpoint-up(md) {
            width: 90%;
        }
    }
    .modal-content{
        @include media-breakpoint-up(md) {
            border-radius: 5px;
            overflow: hidden;
            height: 550px;
            overflow-y: auto;
        }
    }
    .modal-body{
        padding: 0px;
        height: 100%;
        overflow-y: auto;

        @include media-breakpoint-up(lg) {
            h3 {
                font-size: 32px;
            }
        }
        @include media-breakpoint-up(md) {
            .team-img{
                width: 46%;
            }
            .team-content{
                width: 54%;
            }
        }
    }
    .btn-close{
        right: 20px;
        top: 20px;
        z-index: 9;
    }
}




/* checkout modal */
.checkout-modal{
    .modal{
        .modal-dialog{
            max-width: 100%;
            margin: 0px;
            min-height: 100%;
        }
    }
}
.order-modal{
    .modal{
        .modal-dialog{
            max-width: 650px;
        }
    }
}
/* END checkout modal */