.info-modal {
    .modal {
        .modal-dialog {
            margin: 0px 0px auto auto;
            height: 100vh;
            transform: translate(50px, 0px);
            max-width: 650px;
            @include media-breakpoint-down(md) {
                max-width: 100%;
            }
        }

        .modal-content {
            height: 100%;
            border: none;
            padding: 50px;
            overflow-y: auto;
            padding: 77px 80px 60px;
            @include media-breakpoint-down(md) {
                padding:47px 37px 56px;
            }

            .modal-header{
                border: none;
            }
        }

        .btn-close{
            width: auto;
            height: auto;
            background: transparent;
        }

        .modal-body {
            flex-grow: 1;
            h3{
                color: $gray;
                border-bottom: 1px solid #e9e9e9;
                font-weight: 500;
            }
        }
        &.fade.show .modal-dialog {
            transform: translate(0px, 0px);
        }
    }
}

.btn-close{
    @include generate-transition(all, 500ms, ease);
    &:hover{
        transform: rotate(90deg);
    }
}

/* enquiry modal*/
.enquiry-modal{
    .modal {
        .modal-dialog {
            max-width: 562px;
            @include media-breakpoint-down(md){
                max-width: 100%;
                margin: 0;
            }
            .btn-close {
                width: 58px;
                height: 58px;
                position: absolute;
                right: 37px;
                top: 47px;
                z-index: 10;
                opacity: 1;
                @include generate-transition(all, 500ms, ease);
                @include media-breakpoint-up(md){
                    right: 0;
                    top: 0;
                    transform: translate(50%, -50%);
                }
            }
        }
        .contact-form {
            max-width: 430px;
            margin: 0 auto;
            label {
                color: $white;
                margin-bottom: 6px;
            }
            .form-control{
                padding: 10px 15px;
                font-size: $bodyXS;
                background: $white;
                border-radius: 3px;
                @include media-breakpoint-down(md){
                    padding: 13px 15px;
                }
            }
            input::placeholder{
                color: $black;
            }
            .btn.btn-primary{
                min-width: 180px;
            }
            .select2-container{
                width: 100% !important;
            }
        }

        .modal-content {
            border: none;
            border-radius: 5px;
            @include media-breakpoint-down(md) {
                // padding:30px 20px;
            }
            .modal-body{
                padding: 52px 59px 36px;
                @include media-breakpoint-down(md){
                    padding: 183px 36px 58px;
                    min-height: 100vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    overflow: hidden;
                }
            }
        }
        .enquiry-bg{
            height: 400px;
            bottom: -34px;
            width: 220%;
            right: -134px;
            left: auto !important;
        }

    }
}

// Brochure Modal
.brochure-modal{
    .modal .contact-form .checkbox-control .theme-checkbox{
        width: 31px;
        height: 31px;
        border: 1px solid $black;
        &:before{
            width: 23px;
            height: 23px;
            border-radius: 6px;
            top: 3px;
            left: 3px;
        }
    }
    
    .contact-form{
        label{
            color: #000000 !important;
        }
        .small-label{
            letter-spacing: 1.08px;
        }
    }
    .modal .modal-content .modal-body{
        border-radius: 4px;
    }
}
// Brochure Modal

.submit-modal{
    .modal{
        a.menu-close.d-block {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 99;
        }

        .modal-dialog{
            max-width: 900px;
            width: 90%;
            @include media-breakpoint-down(md) {
                width: 100%;
                margin: 0px 0px auto auto;
                height: 100vh;

                .modal-content{
                    height: 100%;
                }
                .modal-body{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}



// .team-modal{
//     .modal-dialog{
//         max-width: 1000px;
//         @include media-breakpoint-down(md) {
//             margin: 0px;
//         }

//         @include media-breakpoint-up(md) {
//             width: 90%;
//         }
//     }
//     .modal-content{
//         @include media-breakpoint-up(md) {
//             border-radius: 5px;
//             height: 550px;
//         }
//     }
//     .modal-body{
//         padding: 0px;
//         height: 100%;
//         overflow-y: auto;

//         @include media-breakpoint-up(lg) {
//             h3 {
//                 font-size: 32px;
//             }
//         }
//         @include media-breakpoint-up(md) {
//             .team-img{
//                 width: 46%;
//             }
//             .team-content{
//                 width: 54%;
//             }
//         }
//     }
    
// }




/* checkout modal */
.checkout-modal{
    .modal{
        .modal-dialog{
            max-width: 100%;
            margin: 0px;
            min-height: 100%;
        }
    }
}
.order-modal{
    .modal{
        .modal-dialog{
            max-width: 650px;
        }
    }
}
/* END checkout modal */




//team modal
.team-modal {
    .modal-content{
        border-radius: 0px;
        border: none;
        @include media-breakpoint-up(md) {
            height: 500px;
        }
    }

    .modal-dialog{
        max-width: 880px;
        @include media-breakpoint-down(md) {
            margin: 0px;

            .modal-content{
                min-height: 100vh;
            }
        }
        @include media-breakpoint-up(md) {
            width: 90%;
        }
    }


    .btn-close{
        width: 50px;
        height: 50px;
        position: absolute;
        z-index: 10;
        opacity: 1;
        transition: all 500ms ease;
        right: 0px;
        top: 0px;

        &:hover{
            transform: translate(50%, -50%) rotate(90deg);
        }

        @include media-breakpoint-up(md) {
            width: 58px;
            height: 58px;
            transform: translate(50%, -50%);
        }
        
        @include media-breakpoint-down(md) {
            right: 15px;
            top: 30px;
        }
    }

    .team-member-profile{
        @include media-breakpoint-down(md) {
            img{
                height: 350px !important;
            }
        }
    }

    .member-social-info {
        border-width: 1px 0px;
        border-style: solid;
        border-color: $secondary;

        a {
            font-size: 15px;
            font-weight: 300;

            img {
                width: 18px;
            }
        }
    }

    // p {
    //     opacity: 0.7;
    // }

    .team-member-profile-info{
        @include media-breakpoint-up(md) {
            padding-bottom: 70px !important;
        }
    }

    .row{
        display: flex !important;
    }


    .slick-indicators{
        .slick-next{
            top: auto;
            right: 33%;
            bottom: 20px;
            left: auto;

            &:before{
                background-image: url(../../assets/images/icons/next-slick.svg);
                margin-left: 2px;
            }
        }
        .slick-prev{
            top: auto;
            left: auto;
            right: calc(32% + 65px);
            bottom: 20px;

            &:before{
                background-image: url(../../assets/images/icons/prev-slick.svg);
                margin-right: 2px;
            }
        }

        .slick-prev,
        .slick-next{
            background: $black-shade-2;
            transition: 0.4s all ease-in-out;
            &[disable]{
                opacity: 0.50;
            }
            &:hover{
                background: $black;
                opacity: 1;
            }
        }

        &.slick-dots-lines ul.slick-dots{
            bottom: 20px;
        }
    }
}

// END team modal
