
.menu-contact-btn{
    padding: 16px 32px 15px;
    font-size: 12px;
    letter-spacing: 1.8px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.4s all ease-in-out;
    border-radius: 4px;

    @include media-breakpoint-down(xxl) {
        padding: 13px 15px;
    }
}


header {
    z-index: 999;
    background-color: $white;
    transition: 0.4s all ease-in-out;
  
    .navbar{
        @include media-breakpoint-down(lg) {
            button{
                color: #000000;
            }
        }
        ul li a.menu-item{
            color: $black;
            letter-spacing: 1.8px;
            text-transform: uppercase;
            font-weight: 400;
            @include media-breakpoint-down(lg) {
                font-size: 25px;
                line-height: 1.3;
                text-transform: capitalize;
                letter-spacing: 0px;
                font-family: 'Prata-Regular';
            }

            &.menu-contact-btn{
                color: #ffffff;
                background-color: #000000;
                border-color: #000000;
            }
        }

        .logo{
            color: $black;
            svg{
                transition: 0.4s all ease-in-out;
                max-width: 135px;
                height: 100px;

                @include media-breakpoint-down(lg) {
                    max-width: 130px;
                    height: 82px;
                    width: 100%;
                }
            }
        }

        .menu-visible{
            visibility: hidden;
            opacity: 0;
        }

    }
  }

//   transparent header
body.header-transparent{
    .fake-header{
        display: none !important;
    }
    
    header {
        background-color: transparent;

        .navbar{
            ul li {
                a.menu-contact-btn{
                    color: $black;
                    background-color: $white;
                    border-color: $white;
                }
            }
        }
    }

    .logo.navbar-brand svg,
    .navbar-toggler{
        @include media-breakpoint-down(lg) {
            color: $white;
        }
    }

    .header-fixed {
        .logo.navbar-brand svg,
        .navbar-toggler{
            @include media-breakpoint-down(lg) {
                color: $black;
            }
        }
    }


    @include media-breakpoint-up(lg) {
        .navbar .logo,
        ul li a.menu-item{
            color: $white;
        }
    }

}
// END  transparent header

// fixed header
body .header-fixed {
    .navbar{
        @include media-breakpoint-down(lg) {
            padding-top: 12px !important;
            padding-bottom: 12px !important;
            
            .logo{
                svg{
                    max-width: 100px;
                    height: 70px;
                }
            }
        }

        @include media-breakpoint-up(lg) {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
            box-shadow: 0 12px 20px rgb(0 0 0 / 5%);

            .logo{
                svg{
                    max-width: 110px;
                    height: 70px;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .custom-mega-menu {
            top: 100px;
        }
    }
}
// fixed header

// fixed header megamenu open background and colors
body .header-fixed,
body.fixed-bg {
    .navbar{
        @include media-breakpoint-down(lg) {
            background-color: $white;
            
            .logo{
                color: $black;
            }
        }

        @include media-breakpoint-up(lg) {
            background-color: $white;
            ul li a{
                color: $black !important;
            }

            .logo{
                color: $black !important;
            }
        }
        
        ul li {
            a.menu-contact-btn{
                color: $white !important;
                background-color: $black !important;
                border-color: $black !important;
            }
        }
    }
}
// END fixed header megamenu open background and colors


  .navbar {
    #navbarHeader {
        @include media-breakpoint-up(lg) {
            padding: 0px;
        }
  
        @include media-breakpoint-between(lg, xl) {
            font-size: 16px;
        }
    }
  }
   
  @include media-breakpoint-down(lg) {
    #navbarHeader {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        background: white;
        padding: 10px 20px;
        height: 100vh;
        transition: 0.1s all ease-in !important;
        flex-direction: column;
        z-index: 999;
        overflow-y: auto;
  
        &.show {
            display: flex;
        }
    }
    .mob-container {
        width: 100%;
        max-width: 720px;
        padding-left: 13.5px !important;
        padding-right: 13.5px !important;
        margin: 0 auto !important;
    }
  }
  
  @include media-breakpoint-down(md) {
    .mob-container {
        max-width: 540px;
    }
    #navbarHeader {
        padding: 10px 12px;
    }
  }
  
  @include media-breakpoint-down(sm) {
    .mob-container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
  }
  
  
  /* mega menu css */
  .custom-mega-menu {
    background-color: $white;
    position: fixed;
    left: 0;
    top: 140px;
    width: 100%;
    height: auto;
    z-index: 999;
    transition: 0.4s all ease-in-out;
    opacity: 0;
    visibility: hidden;
    color: $black;
  
    @include media-breakpoint-up(lg) {
        padding: 4rem 0px !important;
        color: $black;
    }

    @include media-breakpoint-down(lg) {
        top: 0px;
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
    }
    @include media-breakpoint-down(sm) {
        .container {
            padding-left: 13.5px;
            padding-right: 13.5px;
        }
    }
  }
  
  .mega-menu + .custom-mega-menu.show {
    opacity: 1;
    visibility: visible;
  }
  

//   header fixed background and text color
  body.fixed-bg {
    overflow: hidden;
    transition: 0.4s all ease-in-out;

    header{
        background-color: $white;
    }
  }


// bg menu overlay css
  .fixed-bg .menu-bg-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 99;
    }
// END bg menu overlay css

// global search css
.global-search{
    @include media-breakpoint-down(lg) {
        form{
            position: fixed !important;
            top: 50% !important;
            transform: translateY(-50%);
            left: 0;
            right: 0px !important;
            width: 500px;
            max-width: 90%;
            margin: auto;

            .input-control{
                width: 100%;
            }
        }
    }
    .global-search-button {
        background: #00000035;
        border: none;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        transition: 0.4s all ease-in-out;

        @include media-breakpoint-down(lg) {
            &:not(.global-search-result-button){
                width: 48px;
                height: 48px;
                img{
                    width: 20px;
                }
            }
        }

        &:hover{
            background: #000000;
        }
    }
    .global-search-result-button{
        position: absolute;
        z-index: 9;
        right: 5px;
        background: #000000;
    }

    form {
        position: absolute;
        right: -5px;
        top: -1px;
        visibility: hidden;
        opacity: 0;
        transition: 0.2s all ease-in-out;

        &.show{
            visibility: visible;
            opacity: 1;
        }
    }

    .input-control{
        box-shadow: 0px 0px 5px #00000020 !important;
        color: $black;
        padding:8px 40px 8px 1.3rem;
        width: 320px;

        &::placeholder{
            color: $black;
        }
    }
}
// END global search css


//mega menu tabs css
.custom-mega-menu{
    .our-category{
        transition: 0.4s all ease-in-out;
        &.open{
            opacity: 0.4;
        }
    }
    .mega-menu-result{
        @include media-breakpoint-down(lg) {    
            background-color: #ffffff;
            position: fixed;
            left: 0;
            right: 0;
            top: 0px;
            width: 100%;
            height: auto;
            z-index: 999;
            transition: 0.4s all ease-in-out;
            opacity: 0;
            visibility: hidden;

            &.show-megamenu{
                opacity: 1;
                visibility: visible;
            }
        }

        @include media-breakpoint-down(sm) {
            padding-left: 13.5px !important;
            padding-right: 13.5px !important;
        }
    }

    .mega-menu-result-list{
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 20px;

        @include media-breakpoint-down(lg) {
            grid-template-columns: repeat(1,minmax(0,1fr));
        }

        li a{
            transition: 0.4s all ease-in-out;

            &:hover{
                text-decoration: underline;
            }

            &.see-all{
                text-decoration: underline;
            }

            @include media-breakpoint-down(lg) {
                font-size: 18px;
                line-height: 32px;
            }
        }
    }

    .mega-menu-result-tab{
        transition: 0.4s all ease-in-out;
        display: none;

        &.show{
            display: block;
        }

        @include media-breakpoint-up(lg) {

        }
    }



    @include media-breakpoint-down(lg) {
        .megamenu-nav{
            height: calc(100% - 150px);

            > div.col-md-4{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}
// END mega menu tabs css


@include media-breakpoint-up(lg) {
    a.menu-item.active{
        opacity: 0.4;
    }
}