
header {
    background-color: $white;
    z-index: 99;
  
    @include media-breakpoint-up(xxl) {
        .container {
            max-width: 1328px;
        }
    }

    .navbar{
        padding-top: 27px;
        padding-bottom: 27px;
        @include media-breakpoint-down(lg) {
            button{
                color: #000000;
            }
        }
        ul li a.menu-item{
            color: $black;
            letter-spacing: 1.8px;
            text-transform: uppercase;
            text-decoration: none;
            position: relative;
            &:after {
                content: "";
                display: block;
                width: 0;
                height: 1px;
                background: $white;
                position: absolute;
                bottom: 0;
                left: 0;
                @include generate-transition(all, 500ms, ease);
            }
            &.active,
            &:hover{
                &:after{
                    width: 20px;
                }
            }
            
            @include media-breakpoint-down(lg) {
                // font-size: 30px;
                // line-height: 1.3;
                // font-weight: 600;
                // text-transform: capitalize;
                // font-family: 'Poppins';
                // letter-spacing: 0px;
            }
        }

        .logo{
            color: $black;
            svg{
                transition: 0.4s all ease-in-out;
                max-width: 132px;
                path{
                    fill: $black;
                }
                // height: 75px;

                @include media-breakpoint-down(lg) {
                    max-width: 134px;
                    // height: 82px;
                    width: 100%;
                }
            }
        }

        .menu-visible{
            visibility: hidden;
            opacity: 0;
        }
    }

    &.header-fixed,
    &.header-transparent{
        background: transparent;
        .logo.navbar-brand svg,
        .navbar-toggler{
            @include media-breakpoint-down(lg) {
                color: $white;
            }
        }
        @include media-breakpoint-up(lg) {
            .navbar .logo,
            ul li a.menu-item{
                color: $white !important;
            }
        }
        .navbar{
            .logo{
                svg{
                    path{
                        fill: $white;
                    }
                }
            }
        }
        .btn-primary{
            color: $white;
            background-color: $black;
            border-color: $black;
        }
        .global-search{
            .global-search-button{
                svg{
                    circle{
                        fill: rgba($white, $alpha: 0.50);
                    }
                }                
            }
        }
    }
  
    &.header-fixed {
        // box-shadow: 0px 0px 3px #ccc;
        background-color: $primary;
        animation: fadeIn linear 1s;
        -webkit-animation: fadeIn linear 1s;
        -moz-animation: fadeIn linear 1s;
        -o-animation: fadeIn linear 1s;
        -ms-animation: fadeIn linear 1s;
        @include media-breakpoint-up(lg) {
            .navbar .logo,
            ul li a.menu-item{
                color: $white !important;
            }
        }
        .navbar{
            padding-top: 12px;
            padding-bottom: 12px;
            .logo{
                svg{
                    max-width: 100px;
                    path{
                        fill: $white;
                    }
                    @include media-breakpoint-down(lg) {
                        max-width: 80px;
                        // height: 82px;
                        width: 100%;
                    }
                }
            }
        }
        .top-bar {
            display: none !important;
        }
  
        @include media-breakpoint-up(lg) {
            .custom-mega-menu {
                top: 90px;
            }
        }
    }
  }
  
  .navbar {
    #navbarHeader {
        display: none;
        //@include media-breakpoint-down(lg) {
        //    height: 100vh !important;
        //}
        @include media-breakpoint-up(lg) {
            padding: 0px;
        }
  
        @include media-breakpoint-between(lg, xl) {
            font-size: 16px;
        }
    }
  }
  
  .menu {
    > ul > li {
        & > a {
            @include media-breakpoint-down(lg) {
                font-size: 26px;
                line-height: 1.3;
            }
  
            span {
                font-size: 26px;
                font-weight: 300;
                line-height: 20px;
                margin-left: 6px;
                height: 20px;
  
                @include media-breakpoint-down(lg) {
                    font-size: 38px;
                    line-height: 0.8;
                    height: auto;
                }
            }
        }
    }
  
  }
  
  @include media-breakpoint-down(lg) {
    #navbarHeader {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        background: white;
        padding: 10px 20px;
        height: 100vh;
        transition: 0.1s all ease-in !important;
        flex-direction: column;
        z-index: 999;
        overflow-y: auto;
  
        &.show {
            display: flex;
        }
    }
    .mob-container {
        width: 100%;
        max-width: 720px;
        padding-left: 13.5px !important;
        padding-right: 13.5px !important;
        margin: 0 auto !important;
    }
  }
  
  @include media-breakpoint-down(md) {
    .mob-container {
        max-width: 540px;
    }
    #navbarHeader {
        padding: 10px 13.5px;
    }
  }
  
  @include media-breakpoint-down(sm) {
    .mob-container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
  }
  
  
  /* mega menu css */
  .custom-mega-menu {
    background-color: $white;
    position: fixed;
    left: 0;
    top: 125px;
    width: 100%;
    z-index: 999;
    transition: 0.4s all ease-in-out;
    opacity: 0;
    visibility: hidden;
    border-top: 1px solid rgb(31 33 51 / 10%);
  
    @include media-breakpoint-up(lg) {
        padding: 2rem 0px !important;
  
        .card-with-inner-body {
            .card-body {
                padding: 20px;
  
                .card-title {
                    margin-bottom: 15px;
                }
            }
  
            img {
                height: 320px;
            }
        }
    }
    @include media-breakpoint-down(lg) {
        top: 0px;
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
  
        .card-with-inner-body {
            .card-body {
                padding: 15px;
  
                .card-title {
                    margin-bottom: 10px;
                    font-size: 24px;
                }
            }
  
            img {
                height: 320px;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        .container {
            padding-left: 13.5px;
            padding-right: 13.5px;
        }
        .card-with-inner-body img {
            height: 230px;
        }
    }
  
    @include media-breakpoint-between(lg, xl) {
        .card-with-inner-body {
            .btn-primary {
                padding: 13px 40px 13px 20px;
                background-position: right 15px center;
            }
        }
    }
  }
  
  .mega-menu + .custom-mega-menu.show {
    opacity: 1;
    visibility: visible;
  }
  
  .mega-menu {
    span.text-primary {
        transition: 0.2s all ease-in-out;
    }
  
    &.open {
        color: $gray !important;
  
        span.text-primary {
            transform: rotate(45deg);
        }
    }
  
  }
  
  .fixed-bg {
    overflow: hidden;
    transition: 0.4s all ease-in-out;
  }
  
  .fixed-bg .menu-bg-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 99;
  }
  
  .topbar-mobile {
    border-top: 1px solid rgb(31 33 51 / 10%);
    line-height: 1.3;
  
    a {
        padding: 15px 0px;
    }
  }
  
  
  .megamenu-tabs {
    .nav-link {
        text-align: left;
        color: $gray;
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 10px;
        padding: 5px 0px;
  
        &.active {
            color: $secondary;
            background-color: transparent;
  
            span.position-relative {
                padding-right: 10px;
  
                &:before {
                    content: "";
                    width: 26px;
                    height: 20px;
                    background-image: url("../../assets/images/btn-arrow-primary.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 26px;
                    position: absolute;
                    bottom: 7px;
                    right: 0px;
                    margin: auto;
                    transform: translateX(100%);
                }
            }
        }
  
  
    }
  
    .tab-content {
        .tab-pane {
            ul {
                li a {
                    display: block;
                    margin-bottom: 5px;
  
                    &:hover {
                        color: $primary !important;
                    }
                }
            }
        }
    }
  }
  
  .solution-menu-mobile {
    .accordion-button {
        padding: 18px 0px !important;
        border-bottom: 1px solid #e9e9e9;
        font-size: 24px !important;
  
        &.collapsed{
            color: $gray;
        }
  
        &:after{
            display: none;
        }
    }
  
    .accordion-item {
        margin-bottom: 0px;
  
        .accordion-body {
            padding: 0px !important;
            font-size: 18px;
  
            ul {
                li a {
                    display: block;
  
                    &:hover{
                        color: $primary !important;
                    }
                }
            }
        }
    }
  }
  
  .cart-badge{
    display: block;
    min-width: 16px;
    height: 16px;
    padding: 1px;
    font-size: 10px;
    font-weight: 600;
    background: $primary;
    color: $white;
    border-radius: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 5;
    text-align: center;
    transform: translate(50%);
  }

  .global-search{
    @include media-breakpoint-down(lg) {
        form{
            position: fixed !important;
            top: 50% !important;
            transform: translateY(-50%);
            left: 0;
            right: 0px !important;
            width: 500px;
            max-width: 90%;
            margin: auto;

            .input-control{
                width: 100%;
            }
        }
    }
    .global-search-button {
        background: transparent;
        border: none;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        padding: 0;
        transition: 0.4s all ease-in-out;
        svg{
            circle{
                fill: rgba($button-black, $alpha: 0.50);
            }
        }
        @include media-breakpoint-down(lg) {
            &:not(.global-search-result-button){
                width: 48px;
                height: 48px;
                img{
                    width: 20px;
                }
            }
        }

        &:hover{
            background: #000000;
        }
    }
    .global-search-result-button{
        position: absolute;
        z-index: 9;
        right: 5px;
        background: #000000;
    }

    form {
        position: absolute;
        right: -5px;
        top: -1px;
        visibility: hidden;
        opacity: 0;
        transition: 0.2s all ease-in-out;

        &.show{
            visibility: visible;
            opacity: 1;
        }
    }

    .input-control{
        box-shadow: 0px 0px 5px #00000020 !important;
        color: $black;
        padding:8px 40px 8px 1.3rem;
        width: 320px;

        &::placeholder{
            color: $black;
        }
    }
}