// Home Page
.hero-slider{
    .slick-slide{
        .img-fluid{
            height: 780px;
            @include media-breakpoint-down(md){
                height: 864px;
            }
        }
        .hero-filter{
            top: 261px;
            @include media-breakpoint-down(md){
                top: 288px;
                .hero-title{
                    letter-spacing: 0.54pt;
                    line-height: 65px;
                }
            }
            .hero-content{
                letter-spacing: 0.9px;
                line-height: 27px;
                @include media-breakpoint-down(md){
                    letter-spacing: 0.42pt;
                    line-height: 25px;
                }
            }
        }
    }
}

@include media-breakpoint-up(md){
    .section-md-up{
        transform: translateY(-220px);
        margin-bottom: -220px;
    }
}

.image-box{
    .object-cover {
        height: 434px;
        @include media-breakpoint-down(md){
            height: 370px;
        }
    }
    .image-filter {
        top: 244px;
        @include media-breakpoint-down(md){
            top: 135px;
        }
    }
}

.our-story-section {
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 11%, $primary 11%, $primary 100%);
    @include media-breakpoint-down(md){
        background: $primary;
    }
    .object-cover{
        height: 649px;
        @include media-breakpoint-down(md){
            height: 266px;
        }
    }
    p{
        letter-spacing: 0.32px;
        line-height: 28px;
        @include media-breakpoint-down(md){
            letter-spacing: 0.64pt;
            line-height: 26px;
        }
    }
}

.offer-box{
    .offer-image{
        &:before{
            content: "";
            display: block;
            width: 100%;
            height: 139px;
            background: transparent linear-gradient(180deg, #011B21 0%, #011B2100 100%) 0% 0% no-repeat padding-box;
            transform: matrix(-1, 0, 0, -1, 0, 0);
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .object-cover{
            height: 286px;
        }
        .offer-cat-name{
            letter-spacing: 1.8px;
            line-height: 16px;
            position: relative;
            @include media-breakpoint-up(md){
                position: absolute;
                bottom: 5px;
            }
        }
    }
}

// Featured Product
.product-box{
    .pro-img{
        .object-cover{
            height: 363px;
            @include media-breakpoint-down(md){
                height: 256px;
            }
        }
    }
    .pro-cat-name{
        letter-spacing: 1.8px;
        @include media-breakpoint-down(md){
            color: $white;
        }
    }
    .pro-name{
        letter-spacing: 0.4px;
    }
}

// shop page 

// product filter css
.clear-filter-btn{
    letter-spacing: 1.5px;
}

@include media-breakpoint-down(md){
    .product-filter {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffffff;
        z-index: 99;
        padding: 30px 20px;
        opacity: 0;
        visibility: hidden;
        transition: 0.2s all ease-in-out;
        overflow-y: auto;

        &.show{
            opacity: 1;
            visibility: visible;
        }
    }
}
.filter-trigger{
    h4{
        letter-spacing: 2.1px;
        line-height: 29px;
        border-bottom: 1px solid #000000;
    }
}
// END shop page 

