// Home Page
.hero-slider{
    .slick-slide{
        .img-fluid{
            height: 780px;
            @include media-breakpoint-down(md){
                height: 864px;
            }
        }
        .hero-filter{
            top: 261px;
            @include media-breakpoint-down(md){
                top: 288px;
                .hero-title{
                    letter-spacing: 0.54px;
                    line-height: 65px;
                }
            }
            .hero-content{
                letter-spacing: 0.9px;
                line-height: 27px;
                @include media-breakpoint-down(md){
                    letter-spacing: 0.42px;
                    line-height: 25px;
                }
            }
        }
    }
}

@include media-breakpoint-up(md){
    .section-md-up{
        transform: translateY(-220px);
        margin-bottom: -220px;
    }
}

.image-box{
    .object-cover {
        height: 434px;
        @include media-breakpoint-down(md){
            height: 370px;
        }
    }
    .image-filter {
        top: 50%;
        transform: translateY(-50%);
        @include media-breakpoint-down(md){
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &.image-overlay{
        &:before{
            content:"";
            display: block;
            width: 100%;
            height: 100%;
            background: rgba($black, $alpha: 0.24);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.blog-box{
    .object-cover{
        height: 268px;
        @include media-breakpoint-down(md){
            height: 299px;
        }
    }
    .blog-cat-name{
        letter-spacing: 1.8px;
    }
}

.our-story-section {
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 11%, $primary 11%, $primary 100%);
    @include media-breakpoint-down(md){
        background: $primary;
    }
    .object-cover{
        height: 649px;
        @include media-breakpoint-down(md){
            height: 266px;
        }
    }
    p{
        letter-spacing: 0.32px;
        line-height: 28px;
        @include media-breakpoint-down(md){
            letter-spacing: 0.64px;
            line-height: 26px;
        }
    }
}

.offer-box{
    .offer-image{
        &:before{
            content: "";
            display: block;
            width: 100%;
            height: 139px;
            background: transparent linear-gradient(180deg, #011B21 0%, #011B2100 100%) 0% 0% no-repeat padding-box;
            transform: matrix(-1, 0, 0, -1, 0, 0);
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 9;
        }
        .object-cover{
            height: 286px;
        }
        .offer-cat-name{
            letter-spacing: 1.8px;
            line-height: 16px;
            position: relative;
            @include media-breakpoint-up(md){
                position: absolute;
                bottom: 5px;
                z-index: 99;
            }
        }
    }
}

// Featured Product
.product-box{
    .pro-img{
        .object-cover{
            height: 363px;
            @include media-breakpoint-down(md){
                height: 256px;
            }
        }
    }
    .pro-cat-name{
        letter-spacing: 1.8px;
        @include media-breakpoint-down(md){
            color: $white;
        }
    }
    .pro-name{
        letter-spacing: 0.4px;
    }
}

// Case Studies
.case-studies-section {
    background: -webkit-linear-gradient(top, $primary 0%, $primary 46%, $white 46%, $white 100%);
    @include media-breakpoint-down(md){
        background: $primary;
    }
}

.case-studies-box{
    @include media-breakpoint-down(md){
        .cat-name,
        .pro-name,
        p{
            color: $white !important;
        }
    }
    .object-cover{
        height: 450px;
        @include media-breakpoint-down(md){
            height: 299px;
        }
    }
    .cat-name{
        letter-spacing: 2.1px;
        line-height: 18px;
    }
    p{
        letter-spacing: 0.32px;
        line-height: 28px;
    }
}

// Testimonial Section
.testimonial-box{
    .content{
        letter-spacing: 0.36px;
        line-height: 56px;
        @include media-breakpoint-down(md){
            letter-spacing: 0.23px;
            line-height: 37px;
        }
        .text-large{
            line-height: 12px;
            vertical-align: bottom;
        }
    }
    .position{
        letter-spacing: 2.1px;
        line-height: 18px;
        @include media-breakpoint-down(md){
            letter-spacing: 1.26px;
        }
    }
}


// shop page 

// product filter css
.clear-filter-btn{
    letter-spacing: 1.5px;
}

@include media-breakpoint-down(md){
    .product-filter {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffffff;
        z-index: 99;
        padding: 30px 20px;
        opacity: 0;
        visibility: hidden;
        transition: 0.2s all ease-in-out;
        overflow-y: auto;

        &.show{
            opacity: 1;
            visibility: visible;
        }
    }
}
.filter-trigger{
    h4{
        letter-spacing: 2.1px;
        line-height: 29px;
        border-bottom: 1px solid #000000;
    }
}
// END shop page 

// Marine Page
.marine-hero-slider{
    .slick-slide{
        .img-fluid{
            @include media-breakpoint-down(md){
                height: 387px;
            }
        }
        .hero-filter{
            position: absolute;
            top: 261px;
            z-index: 9;
            @include media-breakpoint-down(md){
                position: relative;
                top: auto;
                .hero-title{
                    letter-spacing: 0.44px;
                    line-height: 49px;
                }
            }
            .hero-content{
                letter-spacing: 0.68px;
                line-height: 30px;
            }
        }
    }
}

.case-studies-slider{
    margin: -24px -12px;
    // @include media-breakpoint-down(md){
    //     margin: 0;
    // }
    .slick-slide{
        .object-cover{
            height: 450px;
            @include media-breakpoint-down(md){
                height: 311px;
            }
        }
        .content-box{
            box-shadow: 0px 0px 16px #00000015;
            p{
                letter-spacing: 0.32px;
                line-height: 28px;
            }
        }
    }
}


.theme-call-to-action{
    .object-cover{
        height: 639px;
        @include media-breakpoint-down(md){
            height: 331px;
        }       
    }
}

.image-content-box{
    .object-cover{
        width: 166px;
        height: 133px;
    }
}

.image-box-section{
    .image-box{
        .object-cover{
            height: 184px;
            @include media-breakpoint-down(md){
                height: 399px;
            }
        }
    }
}

.product-carousel{
    .product-image{
        .object-cover{
            height: 530px;
            @include media-breakpoint-down(md){
                height: 340px;
            }
        }
    }
}

.product-carousel{
    .slick-arrow{
        width: 39px;
        height: 39px;
        background: $black;
        border-radius: 100%;
        &:hover{
            background: $primary;
        }
        &:before{
            content: "";
            width: 39px;
            height: 39px;
            position: absolute;
            top: 0;
            left: 0;
        }
        &.slick-prev{
            left: 16px;
            &:before{
                background: url(../images/slider/prev-angle.svg);
            }
        }
        &.slick-next{
            right: 16px;
            &:before{
                background: url(../images/slider/next-angle.svg);
            }
        }
    }
}

.product-content-box{
    .view-popup{
        text-decoration: underline;
        letter-spacing: 1.8px;
        line-height: 26px;
    }
}

.single-feature{
    .img-box {
        .object-cover{
            width: 115px;
            height: 115px;
        }
    }
    p{
        letter-spacing: 0.56px;
        line-height: 20px;
    }
    .feature-content {
        width: calc(100% - 139px);
    }
}

.dimension-box{
    width: 209px;
    height: 209px;
    background: rgba($light-gray, $alpha: 0.40);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    .dimension-size{
        line-height: 70px;
        @include media-breakpoint-down(md){
            line-height: 35px;
        }
    }
}

.product-view{
    box-shadow: 0px 0px 26px #0000001A;
    .object-cover{
        height: 413px;
        @include media-breakpoint-down(md){
            height: 161px;
        }
    }
    .view-product{
        position: absolute;
        right: 16px;
        bottom: 18px;
        @include media-breakpoint-down(md){
            bottom: 33px;
        }
        svg{
            width: 36px;
            height: 36px;
            @include media-breakpoint-down(md){
                width: 51px;
                height: 51px;
            }
        }
    }
}

.additional-info{
    .object-cover{
        height: 507px;
    }
}

// news page
.filter-tab-nav{
    .active{
        position: relative;
        opacity: 0.46;
        transition: 0.2s all ease-in-out;

        &:before{
            content: "";
            width: calc(100% - 16px);
            height: 1px;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            background-color: #000000;
            display: block;
            position: absolute;
        }
    }
}
// END news page
